# ansible managed

# A Record
#     local-data: "edge.s21.sudo.is. A 10.102.47.138"


# PTR Records

local-data-ptr: "192.168.21.1 edge.s21.sudo.is."

{% for name, wg in wg_clients.items() %}
{%   if name.endswith(domain) %}
local-data-ptr: "{{ wg['ip'] }} {{ name }}."
{%   endif %}
{% endfor %}
