# ansible managed

# A Record
#     local-data: "edge.s21.sudo.is. A 10.102.47.138"

{% for item in pihole_static_a_records %}
local-data: "{{ item.name }}. A {{ item.ip }}"
{% endfor %}


# PTR Record
#     local-data-ptr: "192.168.21.1 edge.s21.sudo.is."

local-data-ptr: "{{ wg_clients[inventory_hostname]['ip'] | default(ansible_default_ipv4.address) }} {{ inventory_hostname }}."

{% for name, ip in bridgewithdns.items() %}
{% if name == "host" %}
local-data-ptr: "{{ ip }} docker-host."
{% else %}
local-data-ptr: "{{ ip }} {{ name }}."
{% endif %}
{% endfor %}

{% for name, wg in wg_clients.items() %}
{%   if name.endswith(domain) %}
local-data-ptr: "{{ wg['ip'] }} {{ name }}."
{%   endif %}
{% endfor %}

