https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
{#
 # disabled

https://raw.githubusercontent.com/ShadowWhisperer/BlockLists/master/Lists/Apple
https://git.sudo.is/mirrors/mobiletrackers/raw/branch/master/list.txt
https://raw.githubusercontent.com/ShadowWhisperer/BlockLists/master/Lists/Malware
https://raw.githubusercontent.com/ShadowWhisperer/BlockLists/master/Lists/Tracking
https://raw.githubusercontent.com/unknownFalleN/xiaomi-dns-blocklist/master/xiaomi_dns_block.lst


https://git.sudo.is/mirrors/mobiletrackers/raw/branch/master/windowslist.txt
https://raw.githubusercontent.com/ShadowWhisperer/BlockLists/master/Lists/Marketing-Email
https://raw.githubusercontent.com/ShadowWhisperer/BlockLists/master/Lists/Marketing
https://raw.githubusercontent.com/ShadowWhisperer/BlockLists/master/Lists/Scam
https://raw.githubusercontent.com/ShadowWhisperer/BlockLists/master/Lists/Apple
https://raw.githubusercontent.com/ShadowWhisperer/BlockLists/master/Lists/Risk
https://raw.githubusercontent.com/ShadowWhisperer/BlockLists/master/Lists/Bloat
#}
