# managed by ansible

DHCPHELPER_OPTS="-b {{ ansible_docker0.device }} -i {{ ansible_eth0.device }} {% if inventory_hostname in wireguard_clients %}-e wg0{% endif %}"

{% if inventory_hostname in wireguard_clients %}
DHCPHELPER_OPTS_NOVPN="-b {{ ansible_docker0.device }} -i {{ ansible_eth0.device }}"
{% endif %}"
