{#
 # ansible managed
 #}

PIHOLE_PTR=HOSTNAMEFQDN
BLOCKINGMODE=NULL
LOGFILE=/var/log/pihole/pihole-FTL.log
MACVENDORDB=/macvendor.db

{% if pihole_ipv6|default(true)|bool -%}
RESOLVE_IPV6=yes
{% else -%}
RESOLVE_IPV6=no
{% endif %}
RESOLVE_IPV4=yes

RATE_LIMIT=0/0
BLOCK_ESNI=true

{#
 # Firefox DNS-over-HTTPS
 # reply with NXDOMAIN to queries of use-application-dns.net
 # default value: true
 #}
MOZILLA_CANARY=true

{#
 # iCloud Private Relay
 # reply with NXDOMAIN to mask.icloud.com and mask-h2.icloud.com
 # default value: true
 #}
BLOCK_ICLOUD_PR=true

{#
 # when the gravity database is locked/busy, allow all queries
 #}
REPLY_WHEN_BUSY=ALLOW


{#
 # disables pihole trying to override the PTR record
 #}
PIHOLE_PTR=NONE

{#
 # pihole will overwrite LOCAL_IPV4 (when running in docker) to 0.0.0.0 by default
 # the workaround is to set FTLCONF_LOCAL_IPV4 as an env var
 # see: https://github.com/pi-hole/docker-pi-hole/issues/1017
 #}
LOCAL_IPV4={{ pihole_listen_addr }}
BLOCK_ADDR4={{ pihole_listen_addr }}






