server {
   listen 443 ssl;
   listen   [::]:443 ssl; # listen for ipv6

   {# {% for cidr in my_local_cidrs -%}
    # allow {{ cidr }};
    # {% endfor -%}
    # deny all; #}

   server_name {{ pihole_url }} {{ inventory_hostname }};


   location / {
     return 301 https://$host/pihole;
   }

   location /admin/ {
        proxy_pass         http://{{pihole_http_inet}}:{{ pihole_http_port }}/admin/;

{# proxy_redirect     http://{{pihole_http_inet}}:{{pihole_http_port}}/admin/ /; #}

        proxy_set_header   Host $host;
        proxy_set_header   Origin $host;
        proxy_set_header   X-Forwarded-Host $http_host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
        proxy_set_header   X-Forwarded-Proto $scheme;

   }

    access_log /var/log/nginx/access_{{ pihole_url }}.log main;
    error_log /var/log/nginx/error_{{ pihole_url }}.log warn;

    ssl_session_timeout 5m;

    ssl_certificate /etc/letsencrypt/live/{{ pihole_url.split('.')[1:] | join(".")  }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ pihole_url.split('.')[1:] | join(".")  }}/privkey.pem;

    add_header Referrer-Policy "no-referrer" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header X-Download-Options "noopen" always;
    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header X-Permitted-Cross-Domain-Policies "none" always;
    add_header X-Robots-Tag "none" always;
    add_header X-XSS-Protection "1; mode=block" always;

    fastcgi_hide_header X-Powered-By;
}
