#!/bin/bash

set -e

echo "setting uid={{ pihole_uid }},gid={{ pihole_gid }} for user='_unbound' in container."

groupmod -g {{ pihole_gid }} _unbound
usermod -u {{ pihole_uid }} -g {{ pihole_gid }} _unbound

exec /unbound.sh
