---

addr: tcp://{{ broker }}:5559
screen:
  weather_location: fhain
  rotation: {{ sudoisbot.screen.rotation }}
  msgs:
    - "wash hands & 'void the 'rona!"
    - "the dog goes woof"
    - "doggie doggie what now!?"
    - "wash hands and shoes off"

#logging:
#  level: ERROR
