---

zflux:
  addr: "{{ sudoisbot.sink.zflux.addr }}"
  topic: "zflux:{{ zflux.zmq.topic }}"

sink:
  addr: tcp://{{ broker }}:5560
  write_path: "/data"
  topics:
    {% for topic in sudoisbot.sink.topics -%}
    - {{ topic }}
    {% endfor %}
