---

{% set broker = sudoisbot.broker %}

zflux:
  topic: {{ zflux.zmq.topic }}
{% if zflux.zmq.listen_addr is defined %}
  addr: 'tcp://{{ zflux.zmq.addr }}:{{ zflux.zmq.bind_port }}'
{% else %}
  addr: "tcp://{{ broker.name }}:{{ broker.fe_port }}"
{% endif %}

sink:
  addr: tcp://{{ broker.name }}:{{ broker.be_port }}
  write_path: "/data"
  topics:
    {% for topic in sudoisbot.sink.topics -%}
    - {{ topic }}
    {% endfor %}

mysql:
  host: "{{ mariadb_host }}"
  database: sink
  user: sink
  password: "{{ systemuserlist.sudoisbot.mariadb_pass }}"

{# screen:
 #   rotation: {{ sudoisbot.screen.rotation }}
 #   msgs:
 #     {% for msg in sudoisbot.screen.msgs -%}
 #       - "{{ msg }}"
 #     {% endfor %} #}
