---

broker: tcp://{{ broker }}:5559
frequency: {{ frequency | default(240) }}
location: {{ location | default(inventory_hostname.split('.')[1]) }}
sensor_log_no: {{ temp_log_no | default(9) }}

{% if sensors is defined %}
sensors:

{% for sensortype, sensors in sensors.items()  %}
  {{ sensortype }}:
  {% for sensor in sensors %}

  - {% for key, value in sensor.items() %} {{ key }}: {{ value }}
    {% endfor %}
  {% endfor %}

{% endfor %}
{% endif %}
#logging:
#  level: ERROR
