[Unit]
Description=sudoisbot (sensor)
After=syslog.target

[Service]
User=sensors
Group=sensors
WorkingDirectory={{ systemuserlist['sensors']['home'] }}
ExecStart=/usr/local/bin/sudoisbot %I
Restart=on-failure
RestartSec=6

[Install]
WantedBy=multi-user.target
