# templated by ansible

[Unit]
Description=temp_pub
After=syslog.target

[Service]
Type=simple
User=sensors
Group=sensors
WorkingDirectory=/home/sensors
ExecStart=/usr/local/bin/temp_pub

[Install]
WantedBy=multi-user.target
