{
    "multiserver": false,
    "includeCorsCredentials": false,
    "themes": [
        {
            "name": "Apple TV",
            "id": "appletv"
        },
        {
            "name": "Blue Radiance",
            "id": "blueradiance"
        },
        {
            "name": "Dark",
            "id": "dark",
            "default": true
        },
        {
            "name": "Light",
            "id": "light"
        },
        {
            "name": "Purple Haze",
            "id": "purplehaze"
        },
        {
            "name": "WMC",
            "id": "wmc"
        }
    ],
    "servers": [],
    "plugins": [
        "playAccessValidation/plugin",
        "experimentalWarnings/plugin",
        "htmlAudioPlayer/plugin",
        "htmlVideoPlayer/plugin",
        "photoPlayer/plugin",
        "comicsPlayer/plugin",
        "bookPlayer/plugin",
        "youtubePlayer/plugin",
        "backdropScreensaver/plugin",
        "pdfPlayer/plugin",
        "logoScreensaver/plugin",
        "sessionPlayer/plugin",
        "chromecastPlayer/plugin"
    ],
    "menuLinks": [
        {
            "name": "Status page",
            "url": "https://status-{{ jellyfin_url }}/"
        },
        {
            "name": "Change password",
            "url": "https://{{ authelia_login_url }}/reset-password/step1"
        },
        {
            "name": "TV calendar",
            "url": "https://{{ pirate_url }}/sonarr/feed/v3/calendar/sonarr.ics"
        },
        {
            "name": "Chat: #{{ jellyfin_url.replace('.', ':', 1) }}",
            "url": "https://matrix.to/#/#{{ jellyfin_url.replace('.', ':', 1) }}"
        }


    ]
}
