
[defaults]
inventory = hosts.yml
#stdout_callback = json
# unfortunate name, previously named human_log, much less verbose than default
stdout_callback = debug
roles_path = ./roles/:./private/roles/
playbook_dir = ./private/playbooks/
forks = 20
#internal_poll_interval = 0.5
max_diff_size = 104857600
ansible_managed = "{{{{ lookup('pipe', 'git rev-parse --show-toplevel')|basename }}}}/roles/{{{{ role_name }}}}/{{{{ template_path }}}}{{{{ lookup('pipe', 'git log -1 ' + template_fullpath|quote) | default(False, True) | ternary("", ",UNCOMITTED") }}}}"

[diff]
always = true

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
pipelining = true
