#!/bin/sh
# managed by ansible

# too complicated and with su-exec, we use dockers --user settings
# https://github.com/maubot/maubot/blob/master/docker/run.sh

# pip install asyncpg python-olm pycryptodome unpaddedbase64
pip install --upgrade maubot[e2b] >> /var/log/docker-run-pip.log  2>&1

alembic -x config=/data/config.yaml upgrade head
python3 -m maubot -c /data/config.yaml
