# {{ ansible_managed }}

[[inputs.prometheus]]
  urls = [
    "http://{{ bridgewithdns.matrix }}:{{ matrix_synapse_metrics_port }}/_synapse/metrics"
  ]

  [inputs.prometheus.tags]
    service = "matrix-synapse"
    service_url = "{{ matrix_url }}"
    inputs = "prometheus"

[[inputs.linux_sysctl_fs]]
