# m h  dom mon dow   command

*/1 * * * * {{ audiobookshelf_user.username }} find {{ deadspace_root }}/podcasts -mmin -20 -name "*.mp3" -exec /usr/local/bin/fix-podcast-date.py fix-dates --podcast-file {} {% if audiobookshelf_cron_quiet|default(false) %}--quiet {% endif %}\;


#
