{
  "allowed_servers": {{ my_domains | to_nice_json }},
  "defaultmailcheckinterval": 30,
  "htmldefault": false,
  "markdownenabledbydefault": true,
  "matrixaccesstoken": "{{ matrix_bots['email-bridge']['token'] }}",
  "matrixserver": "{{ matrix_url }}",
  "matrixuserid": "@{{ matrix_bots['email-bridge']['user'] }}:{{ matrix_domain }}"
}
