lt-cred-mech
use-auth-secret
static-auth-secret=pdTojBDcesSRX4qYCXuLGtywK0YK6WIAnBA0CNPsnnmAdlS2wBb8DyPlRQ2ipnmx
realm={{ turn_realm }}
cert=/data/{{ matrix_domain }}.crt
pkey=/data/{{ matrix_domain }}.key
{# dh-file=/data/sudo.is.tls.dh #}
cipher-list="HIGH"
