[Unit]
Description=docker containers
After=syslog.target

[Service]
User=sensors
Group=sensors
ExecStart=/usr/bin/docker start %I
ExecStop=/usr/bin/docker stop %I
Restart=on-success
RestartSec=0

[Install]
WantedBy=multi-user.target
