{
{% if 'pihole' in group_names %}
  "dns": ["{{ bridgewithdns.pihole }}"],
  {# "dns-search": "brirdgewithdns", #}

{% endif %}

  "log-driver": "json-file"

   {#, "log-opts": {
   #   "syslog-address": "udp://localhost:514",
   #   "syslog-facility": "local0",
   #   "tag": {% raw %}"{{ .Name }}" {% endraw %}
   #
   # } #}

}
