{
  "log-driver": "json-file"

   {#, "log-opts": {
   #   "syslog-address": "udp://localhost:514",
   #   "syslog-facility": "local0",
   #   "tag": {% raw %}"{{ .Name }}" {% endraw %}
   #
   # } #}
}
