---

- type: docker
  containers.ids: '*'

  combine_partial: true

  json.keys_under_root: true
  json.add_error_key: false

  fields_under_root: true
  fields:
    docker: true

  processors:
    - add_docker_metadata:
        host: "unix:///var/run/docker.sock"
    - copy_fields:
        fields:
          - from: "container.name"
            to: "service.type"
        fail_on_error: false
        ignore_missing: true
    - rename:
        fields:
          - from: "log"
            to: "message"
        ignore_missing: true
        fail_on_error: false
      # - decode_json_fields:
      #     fields: "message"
      #     target: "" # same as keys_under_root

  tags:
   - docker
