#!/bin/bash

# distributed from ansible

set -e

LOCKFILE="/tmp/ghsync.lock"

workdir="/tmp/ghsync"

lockfile -r 0 $LOCKFILE

rm -rf $workdir || true
mkdir $workdir

(

    cd $workdir
{%  for repo in ghsync_repos %}
    echo {{ repo }}
    git clone ssh://git@git.sudo.is:7999/ben/{{ repo }}.git

    (
        cd ${workdir}/{{ repo }}
        git pull origin master
        git remote add github git@github.com:benediktkr/{{ repo }}.git
        git push github master #| egrep "\.\.|To"

        echo {{ repo }}

    )
    rm -rf ${workdir}/{{ repo }}/
{%  endfor %}
)

rmdir /tmp/ghsync
rm -f $LOCKFILE
