#!/bin/bash

# distributed from ansible

set -e

# dns creds: /root/.cerbot_cloudflare.init
# config: /etc/letsencrypt/renewal/{{ domain }}.conf
# new: certbot certonly --dns-cloudflare --dns-cloudflare-credentials /root/.certbot_cloudflare.ini --preferred-challenges dns -d $name1 -d $name2

# set --config-dir, --work-dir, --logs-dir to {{ letsencrypt_private_path }}

LOCKFILE="/tmp/letsencrypt.lock"
lockfile -r 0 -l 3600  $LOCKFILE

/usr/local/bin/certbot renew -q -n

# wildcards

{% for item in letsencrypt_domains %}
mkdir -p /usr/local/etc/certs/{{ item }}
{%   for pemfile in ["cert.pem", "chain.pem", "fullchain.pem", "privkey.pem"] %}
/usr/bin/cp /etc/letsencrypt/live/{{ item }}/{{ pemfile }} /usr/local/etc/certs/{{ item }}/{{ pemfile }}
{%   endfor %}

chgrp adm /usr/local/etc/certs/{{ item }}/privkey.pem
chmod 660 /usr/local/etc/certs/{{ item }}/privkey.pem

openssl rsa -inform pem -in /etc/letsencrypt/live/{{ item }}/privkey.pem -outform pem -out {{ letsencrypt_private_path }}/{{ item }}/rsa-privkey.pem > /dev/null 2>&1

{% endfor %}

# sni sub domains
{% for item in lb_tcp %}
{% if item.cert|default(true) %}
mkdir -p /usr/local/etc/certs/{{ item.fqdn }}

{%   for pemfile in ["cert.pem", "chain.pem", "fullchain.pem", "privkey.pem"] %}
/usr/bin/cp /etc/letsencrypt/live/{{ item.fqdn }}/{{ pemfile }} /usr/local/etc/certs/{{ item.fqdn }}/{{ pemfile }}
{%   endfor %}

chgrp adm /usr/local/etc/certs/{{ item.fqdn }}/privkey.pem
chmod 660 /usr/local/etc/certs/{{ item.fqdn }}/privkey.pem

{% endif %}
{% endfor %}



rm -f $LOCKFILE
