# distributed from ansible

# m h dom mon dow

# sync master copies to {{ git_cron.base_path }}
#15 */1 * * * root /usr/local/sbin/git-cron.sh

# run convergence
#13 */12 * * * root /usr/local/sbin/ansible-convergence.sh
#13 3 * * * root /usr/local/sbin/ansible-convergence.sh sensors
#17 */6 * * * root /usr/local/sbin/tf-convergence.sh

# -q
45 1 * * * root /usr/local/bin/certbot renew &>> /tmp/certbot.log


# archives
{% for podcast_name, podcast in archives.podcast.items() %}
{% if 'cron' in podcast %}
{{ podcast.cron }} {{ myusername }} /usr/local/bin/archive-podcast.py {{ podcast_name }}
{% endif %}
{% endfor %}

14 09 * * * {{ myusername }} /usr/local/bin/youtube-dl-mirrors.sh >> /tmp/youtube-dl-mirrors.log
13 7 * * * {{ myusername }} /usr/local/bin/reddit-archives.sh >> /tmp/reddit-archives.log

#
