# distributed from ansible

# m h dom mon dow

# sync master copies to {{ git_cron.base_path }}
#15 */1 * * * root /usr/local/sbin/git-cron.sh

# run convergence
#13 */12 * * * root /usr/local/sbin/ansible-convergence.sh
#13 3 * * * root /usr/local/sbin/ansible-convergence.sh sensors
#17 */6 * * * root /usr/local/sbin/tf-convergence.sh

# letsencrypt
45 1 * * * root /usr/local/bin/letsencrypt.sh

# CHAOS
*/5 * * * * {{ myusername }} /usr/local/bin/lb failover --random > /dev/null 2>&1

# archives

{% for podcast_name, podcast in archives.podcast.items() %}
{% if 'cron' in podcast %}
{{ podcast.cron }} {{ myusername }} /usr/local/bin/archive-podcast.py {{ podcast_name }}
{% endif %}
{% endfor %}

#14 09 * * * {{ myusername }} /usr/local/bin/youtube-dl-mirrors.sh >> {{ userlist[myusername].home }}/.local/log/youtube-dl-mirrors.log > /dev/null 2>&1
13 7 * * * {{ myusername }} /usr/local/bin/reddit-archives.sh >> {{ userlist[myusername].home }}/.local/log/reddit-archives.log 2>&1

7 13 * * * root /usr/bin/docker exec --user {{ systemuserlist.archives.uid }} archives update_du_cache

#
