# distributed from ansible

# m h dom mon dow

# sync master copies to {{ git_cron.base_path }}
#15 */1 * * * root /usr/local/sbin/git-cron.sh

# run convergence
#13 */12 * * * root /usr/local/sbin/ansible-convergence.sh
#13 3 * * * root /usr/local/sbin/ansible-convergence.sh sensors
#17 */6 * * * root /usr/local/sbin/tf-convergence.sh

# -q
45 */1 * * * root /usr/local/bin/certbot renew 2>>&1 /tmp/certbot.log
#
