[riceland]
client_id={{ riceland.client_id }}
client_secret={{ riceland.client_secret }}
user_agent={{ riceland.user_agent }}
refresh_token={{ riceland.refresh_token }}

subreddit={{ riceland.subreddit }}
matrix_token={{ matrix_webhook_token }}
matrix_room={{ riceland.matrix_room }}
matrix_url=https://{{ matrix_url }}/_webhook/incoming
