User-agent: *
Disallow: /
Allow: /cv1.pdf
Allow: /ardrand.pdf
Allow: /tsense.pdf
Allow: /Found_Reykjavik.pdf
Allow: /Found_Reykjavik_144dpi.pdf
Allow: /keybase.txt
Allow: /sitemap.xml

Sitemap: https://static.{{ domain }}/sitemap.xml
