# {{ ansible_managed }}

[[inputs.prometheus]]
  urls = [
    "http://{{ bridgewithdns.authelia }}:{{ authelia_port_metrics }}/metrics"
  ]

  [inputs.prometheus.tags]
    service = "authelia"
    service_url = "{{ authelia_login_url }}"
    inputs = "prometheus"
