server {
   listen 443 ssl;
   listen 80;
   listen   [::]:443 ssl; # listen for ipv6

   server_name {{ nextcloud_url }};

   if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }


    location / {
        proxy_pass         http://127.0.0.1:{{ nextcloud_exposed_port }}/;

        proxy_redirect     off;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
    }

    access_log /var/log/nginx/access_{{ nextcloud_url }}.log main;
    error_log /var/log/nginx/error_{{ nextcloud_url }}.log warn;

    client_max_body_size 2G;
    proxy_max_temp_file_size 2048m;
    fastcgi_buffers 64 4K;

    ssl_session_timeout 5m;

    ssl_certificate /etc/letsencrypt/live/nextcloud.sudo.is/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/nextcloud.sudo.is/privkey.pem; # managed by Certbot

}
