[Unit]
Description = apply iptables
Before=network-online.target
{% if 'docker' in group_names %}
Before=docker.service
{% endif %}

[Service]
Environment="SYSTEMD_COLORS=1"
Type=oneshot
ExecStart=/usr/local/bin/apply-iptables.sh

[Install]
WantedBy=multi-user.target
