#!/usr/bin/python3

import os

import sudoisinflux

MARKER = "/var/run/iptables_applied"

if __name__ == "__main__":
    sudoisinflux.write_datapoint(
        measurement="iptables",
        tags=sudoisinflux.TAG_HOST,
        fields={'applied': os.path.exists(MARKER)},
        db="metrics",
        precision='h'
    )
