# See /usr/share/postfix/main.cf.dist for a commented, more complete version


# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname

smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

# See http://www.postfix.org/COMPATIBILITY_README.html -- default to 2 on
# fresh installs.
compatibility_level = 2

# TLS parameters
#smtpd_tls_cert_file=/etc/letsencrypt/live/{{ inventory_hostname }}/cert.pem
#smtpd_tls_key_file=/etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem
#smtpd_use_tls=yes
#smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
#smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
myhostname = {{ inventory_hostname }}
mydomain = {{ postfix_mydomain }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
#myorigin = /etc/mailname
myorigin = {{ inventory_hostname }}
#myorigin =

# postfix uses /etc/aliases for everything sent to these things
#mydestination = {{ ansible_fqdn }}

# so only emails sent to known local mailboxes work, but everything with
# an @ gets relayed
mydestination = {{ inventory_hostname }}, localhost, localhost.localdomain{% if ansible_fqdn != inventory_hostname %}, {{ ansible_fqdn }}{% endif %}
#mydestination=

fallback_transport = relay


relayhost = [{{ smtp_server }}]:{{ smtp_port }}
smtp_tls_wrappermode = yes
smtp_tls_security_level = encrypt
{% if ansible_docker0.ipv4 is defined %}
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128 {{ ansible_docker0.ipv4.network }}/{{ docker_cidr_mask }}
inet_interfaces = 127.0.0.1, {{ ansible_docker0.ipv4.address }}
{% else %}
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
inet_interfaces = loopback-only
{% endif %}
mailbox_size_limit = 0
recipient_delimiter = +
inet_protocols = all

# if no alias matches
luser_relay = {{ systems_email }}
local_recipient_maps =


## to connect to my smtp provider
smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
# (smtpd_use_tls set above, note smtpD_....)
smtp_use_tls=yes
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt
