<a class="item" href="{{AppSubUrl}}/ben">ben</a>
<a class="item" href="{{AppSubUrl}}/ben/-/packages">ben/packages</a>
{{if .SignedUser}}
<a class="item" href="{{AppSubUrl}}/ops/issues">ops/issues</a>
<a class="item" href="{{AppSubUrl}}/ops/wiki">ops/wiki</a>
<a class="item" href="{{AppSubUrl}}/ops/-/packages">ops/packages</a>
{{else}}
<a class="item" href="{{AppSubUrl}}/oauth2/authelia">log in</a>
{{end}}