# ansible distributed

allow_anonymous true
listener 1883
protocol mqtt

# listener 127.0.0.1:8883
# protocol websockets

# password_file /mqtt/data/passwd

# persistence true
# persistence_location /mqtt/data/
log_dest file /mqtt/log/mosquitto.log
