#!/bin/bash

set -e

NAME_REPO="{{ hass_config_repo_name }}"
PATH_REPO="{{ systemuserlist.hass.home }}/git/${NAME_REPO}"
PATH_HASS_HOME="{{ systemuserlist.hass.home }}"
REPO_SUBDIRS="home-assistant zwavejs appdaemon esphome deconz zigbee2mqtt utils"

shopt -s expand_aliases
alias git="git -C $PATH_REPO"


cd $PATH_REPO

if test -n "$(git status --porcelain)" ; then
    echo "repo is dirty"
    git status --short
    exit 2
fi

if ! grep -q "secrets.y[a]ml" ${PATH_REPO}/.gitignore; then
    echo "'secrets.yaml' missing from '.gitconfig'"
    exit 3
fi

for item in $REPO_SUBDIRS; do
    mkdir -p ${PATH_REPO}/${item}
done


set -e

rsync -rah --numeric-ids --delete-after --safe-links --quiet --exclude-from=$PATH_REPO/.gitignore $PATH_HASS_HOME/zwavejs/ $PATH_REPO/zwavejs/
/usr/local/bin/format-json.py --indent 2 zwavejs/data/nodes.json
/usr/local/bin/format-json.py --indent 2 zwavejs/data/settings.json

git add zwavejs/

if test -n "$(git status --porcelain)" ; then
    git commit -m "updated" > /dev/null
fi

#git add $REPO_SUBDIRS > /dev/null

git pull --quiet --rebase
#git push origin main --quiet 1>/dev/null
#git push test main --force

# TODO: copy changes from git
