
# this file is _not_ synced to the {{ hass_config_repo_name }} repo, so
# we can "safely" template in the actual secrets here and keep them out of
# configuration.yaml, which does get synced to the repo.

s21_router_hostname: {{ s21_router_hostname }}
s21_router_password: {{ s21_router_password }}

host_turris_wg: "{{ wg_clients['turris.wg.sudo.is']['ip'] }}"
host_vpn_ls54: "{{ ls54_dgw }}"
host_vpn_ber1: "ber1.sudo.is"
host_vpn_mainframe: "{{ wg_clients['mainframe.sudo.is']['ip'] }}"
host_vpn_edge: "{{ wg_clients['fsn-edge-g0.sudo.is']['ip'] }}"
host_vpn_rvk0: "{{ wg_clients['rvk0.sudo.is']['ip'] }}"
host_work_laptop: "192.168.19.153"
host_dns_s21: "{{ s21_dns_ip }}"

ben_phone_ip: {{ s21_ip_ben_phone }}
apple_tv_ip: {{ s21_ip_apple_tv }}
samsung_tv_ip: {{ s21_ip_samsung_tv }}
cmd_check_arp_scan_apple_tv: "/usr/local/bin/check-arp-scan.sh {{ s21_ip_apple_tv }}"

openwrt_user: "{{ hass_openwrt_user }}"
openwrt_pass: "{{ hass_openwrt_pass }}"

caldav_nc_user: "{{ hass_caldav_nc_user }}"
caldav_nc_passwd: "{{ hass_caldav_nc_passwd }}"
caldav_care_user: "{{ hass_caldav_care_user }}"
caldav_care_passwd: "{{ hass_caldav_care_passwd }}"

voicerss_api_key: {{ voicerss_api_key }}

# see group_vars/monitoring.yml
influxdb_pass: {{ hass_influxdb_pass }}

matrix_username: "{{ hass_matrix.username }}"
matrix_password: "{{ hass_matrix.password }}"
{% set rooms = {'matrix_rooms': hass_matrix.rooms} -%}
{{ rooms | to_nice_yaml }}
matrix_default_room: "{{ hass_matrix.rooms[0] }}"

smtp_server: "{{ smtp_server }}"
smtp_username: "{{ smtp_username }}"
smtp_passwd: "{{ smtp_passwd }}"

do_token: "{{ hass_do_token }}"
ifttt_token: "{{ hass_ifttt_token }}"
{% for item in hass_gitea -%}
gitea_token_{{ item.server.replace('.', '_') }}: "{{ item.token }}"
{% endfor %}

myip_domain: "t-ipconnect.de"
