- type: filestream
  id: "gitea-log_{{ gitea_user.username }}"
  paths:
    - {{ gitea_user.home }}/data/gitea/log/gitea.log

  enabled: true

  fields_under_root: true
  fields:
    service.type: gitea
    gitea_name: {{ gitea_url }}

  tags:
    - gitea
