- type: filestream
  id: "gitea-log"
  paths:
    - {{ systemuserlist.git.home }}/data/gitea/log/gitea.log

  enabled: true

  fields_under_root: true
  fields:
    service.type: gitea

  tags:
    - gitea
