<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9             http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

<url>
  <loc>https://www.{{ domain }}/</loc>
  <priority>1.00</priority>
</url>

<url>
  <loc>https://{{ gitea_url }}/</loc>
  <priority>1.00</priority>
</url>
<url>
  <loc>https://{{ gitea_url }}/{{ myusername }}</loc>
  <priority>1.0</priority>
</url>

<url>
  <loc>https://{{ gitea_url }}/matrix</loc>
  <priority>0.20</priority>
</url>
<url>
  <loc>https://{{ gitea_url }}/mirrors</loc>
  <priority>0.20</priority>
</url>
<url>
  <loc>https://{{ gitea_url }}/home-assistant</loc>
  <priority>0.20</priority>
</url>

<url>
  <loc>https://{{ gitea_url }}/explore/repos</loc>
  <priority>0.20</priority>
</url>

</urlset>

{#
 # this is the sitemap that gitea generates:
 #
 # grep "proxy_pass" /etc/nginx/sites-enabled/01-git.sudo.is  | head -n 1
 # curl http://{{ bridgewithdns.gitea }}:{{ gitea_docker_port }}/sitemap.xml
 #
 # <sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
 #  <url><loc>https://git.sudo.is/explore/users/sitemap-1.xml</loc></url>
 #  <url><loc>https://git.sudo.is/explore/repos/sitemap-1.xml</loc></url>
 #  <url><loc>https://git.sudo.is/explore/repos/sitemap-2.xml</loc></url>
 #  <url><loc>https://git.sudo.is/explore/repos/sitemap-3.xml</loc></url>
 #  <url><loc>https://git.sudo.is/explore/repos/sitemap-4.xml</loc></url>
 #  <url><loc>https://git.sudo.is/explore/repos/sitemap-5.xml</loc></url>
 #  <url><loc>https://git.sudo.is/explore/repos/sitemap-6.xml</loc></url>
 #  <url><loc>https://git.sudo.is/explore/repos/sitemap-7.xml</loc></url>
 # </sitemapindex>
 #}
