server {
  listen 443 ssl;
  listen   [::]:443 ssl; # listen for ipv6

  server_name mirrors.deadops.de;

  root /var/www/mirrors.deadops.de;
  location / {
      autoindex on;
  }
  location ~* ^.+\.(whois|log)$ {
    add_header Content-Type text/plain;
  }

  access_log /var/log/nginx/mirrors.deadops.de_access.log main;
  error_log /var/log/nginx/mirrors.deadops.de_error.log warn;

  ssl_session_timeout 5m;

  # leaving this for now, cloudflare doesnt care 
  ssl_certificate /etc/letsencrypt/live/fra0.sudo.is/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/fra0.sudo.is/privkey.pem; # managed by Certbot

  add_header Referrer-Policy "no-referrer" always;
  add_header X-Content-Type-Options "nosniff" always;
  add_header X-Download-Options "noopen" always;
  add_header X-Frame-Options "SAMEORIGIN" always;
  add_header X-Permitted-Cross-Domain-Policies "none" always;
  add_header X-Robots-Tag "none" always;
  add_header X-XSS-Protection "1; mode=block" always;
}
