---

- type: filestream
  paths:
    - /var/log/nginx/access_*.log

  scan_frequency: 10s
  enabled: true

  parsers:
    - ndjson:
        keys_under_root: true
        add_error_key: true

  fields_under_root: true
  fields:
    service.type: nginx

  tags:
    - nginx

- type: filestream
  paths:
    - /var/log/nginx/error_*.log

  scan_frequency: 10s
  enabled: true

  tags:
    - nginx
    - nginx-error
