---

- type: log
  paths:
    - /var/log/nginx/access_*.log

  scan_frequency: 10s
  enabled: true

  json.keys_under_root: true
  json.add_error_key: true

  fields_under_root: true
  fields:
    service.type: nginx

  tags:
    - nginx

- type: log
  paths:
    - /var/log/nginx/error_*.log

  scan_frequency: 10s
  enabled: true

  tags:
    - nginx
    - nginx-error
