<html>
  <head>
    <title>[.]</title>
  </head>
  <body>
    <p>where do you want to go today?</p>
    <hr>
    <p><i>a http server on the internet</i> {{ inventory_hostname }} </p>
  </body>
</html>
