<html>
  <head>
    <title>{{ inventory_hostname }}</title>
  </head>
  <body>
    <p>where do you want to go today?</p>
    <hr>
    <p><i>an http server at {{ inventory_hostname }}</i></p>
  </body>
</html>
