
user  www-data;
worker_processes  auto;

error_log  /var/log/nginx/default_error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    # prefer: $authelia_user
    # default: $remote_user
    #map $authelia_user $remote_user_name {
    #    default $authelia_user;
    #    ""      $remote_user;
    #}

    log_format  main  '{"remote_addr": "$remote_addr", '
                      ' "remote_user": "$remote_user", '
                      {# ' "authelia_user": "$authelia_user", ' #}
                      ' "time_local": "$time_local", '
                      ' "request_method": "$request_method", '
                      ' "request_uri": "$request_uri", '
                      ' "server_name": "$server_name", '
                      ' "status": "$status", '
                      ' "body_bytes_sent": $body_bytes_sent, '
                      ' "http_referer":  "$http_referer", '
                      ' "http_user_agent": "$http_user_agent", '
                      ' "http_x_forwarded_for": "$http_x_forwarded_for"}';

    access_log  /var/log/nginx/access_default.log main;
    error_log  /var/log/nginx/error_default.log;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

    server_tokens off;

    {# proxy_cache_path  /var/cache/nginx levels=1:2 keys_zone=AUTH:10m inactive=24h; #}

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;


}
