# distributed from ansible

proxy_set_header Remote-User $authelia_user;
proxy_set_header Remote-Groups $authelia_groups;
proxy_set_header Remote-Name $authelia_name;
proxy_set_header Remote-Email $authelia_email;
