
location = /.sudo-known/hostname {
    add_header Content-Type "text/html; charset=utf-8" always;
    return 200 "{{ inventory_hostname }}";
}

location = /.sudo-known/server_name {
    add_header Content-Type "text/html; charset=utf-8" always;
    return 200 "$server_name";
}

location = /.sudo-known/info {
    add_header Content-Type "application/json" always;
    return 200 '{"hostname": "{{ inventory_hostname }}", "server_name": "$server_name"}';
}
