MAYAN_CELERY_BROKER_URL=redis://redis_mayan:6379/0

MAYAN_CELERY_RESULT_BACKEND=redis://redis_mayan:6379/1

MAYAN_DATABASES={'default':{'ENGINE':'django.db.backends.postgresql','NAME':'mayan','PASSWORD':'{{ systemuserlist.mayan.mariadb_pass }}','USER':'mayan','HOST':'postgres_mayan'} }

MAYAN_SKIP_CHOWN_ON_STARTUP=false

MAYAN_DOCKER_WAIT=postgres_mayan:5432 {# redis_mayan:6379 #}

MAYAN_USER_UID={{ systemuserlist.mayan.uid }}

MAYAN_USER_GID={{ systemuserlist.mayan.gid }}

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

EMAIL_HOST={{ smtp_server }}

EMAIL_HOST_USER={{ smtp_username }}

EMAIL_HOST_PASSWORD={{ smtp_passwd }}

EMAIL_PORT={{ smtp_port }}

EMAIL_USE_TLS=true

EMAIL_USE_SSL=true
