---

- type: filestream
  id: "authelia-log"
  paths:
    - {{ systemuserlist.authelia.home }}/config/authelia.log

  scan_frequency: 10s
  enabled: true

  parsers:
    - ndjson:
        keys_under_root: true
        add_error_key: true

  fields_under_root: true
  fields:
    service.type: authelia

  tags:
    - authelia
