# distributed from ansible

# m h dom mon dow

9 9 * * * root /usr/bin/influxd backup -portable -host {{ influxdb_rpc_bind }} {{ influxdb_backup_path }} > /dev/null

9 10 * * * root /usr/bin/find {{ influxdb_backup_path }}/* -mtime +2 -exec rm {} \;


#
