# distributed from ansible

# m h dom mon dow
13 */1 * * * {{ myusername }} /usr/local/bin/berlinrona.py
23 */1 * * * {{ myusername }} /usr/local/bin/sdfcheck.py

# these are currently running elsewhere
# */2 * * * * {{ myusername }} /usr/local/bin/hospital.py
# */5 * * * * {{ myusername }} /usr/local/bin/nextcloud-influx.py
