#!/usr/bin/env python3

import json

import requests

import sudoisinflux


def check():
    r = requests.get("https://federationtester.matrix.org/api/report?server_name={{ matrix_domain }}")
    r.raise_for_status()
    j = r.json()

    # bool -> int
    assert isinstance(j['FederationOK'], bool)

    federation_ok = int(j['FederationOK'])
    assert federation_ok == 0 or federation_ok == 1

    tags = {
        "matrix_domain": "{{ matrix_domain }}"
    }
    fields = {
        "federation_ok": int(federation_ok),
    }

    sudoisinflux.write_datapoint("matrix_federation", tags, fields, precision="h")

if __name__ == "__main__":
    check()
