<html>
  <head>
    <title>[.]</title>
  </head>
  <body>
    <p>where do you want to go today?</p>
    <hr>
    <p><i>a http server on the internet</i></p>
  </body>
  <!-- {{ inventory_hostname }} -->
</html>
