# templated by ansible.

[Unit]
Description=screen_pub
After=syslog.target

[Service]
Type=simple
User={{ temper_pub_user | default('root') }}
Group={{ temper_pub_group | default(temper_pub_user) | default('root') }}
WorkingDirectory=/srv
ExecStart=/usr/local/bin/screen_pub

[Install]
WantedBy=multi-user.target
