---

sink:
  broker: tcp://{{ broker }}:5560
  recvtimeo: 300 # 5m in seconds

  influxdb:
    host: {{ ingest }}
    user: sudoisbot
    pass: {{ influxdb_pass }}
    db: sudoisbot

  csv_dir: /srv/temps
  state_dir: /dev/shm

{% if weather is defined %}
weather:
  {% for location in weather %}

  - name: {{ location.name }}
    lat: {{ location.lat }}
    lon: {{ location.lon }}
    msl: {{ location.msl }}

  {% endfor %}

{% endif %}

pub:
  broker: tcp://{{ broker }}:5559
  interval: 240


{% if sensors is defined %}
sensors:
  {% for sensor in sensors  %}

  - name: {{ sensor.name }}
    type: {{ sensor.type }}
    {% if 'id' in sensor %}id: {{ sensor.id }}{% endif %}
  {% endfor %}

{% endif %}
