# templated by ansible

[Unit]
Description=
After=syslog.target

[Service]
Type=simple
User={{ user | default('root') }}
Group={{ group | default(user) | default('root') }}
WorkingDirectory=/srv
{% if name == "temper_pub.py" %}
ExecStart=/usr/local/sbin/{{ name }}
{% else %}
ExecStart=/usr/local/bin/{{ name }}
{% endif %}
{% if name == "temper_sub.py" %}
Environment="TEMPER_SUB_ADDR={{ zmq_proxy_sub }}"
Environment="TEMPER_SUB_STATE=/tmp/temper_sub-state.json"
Environment="TEMPER_SUB_CSVDIR=/srv"
{% elif name == "screen_pub.py" %}
Environment="SCREEN_PUB_ADDR={{ zmq_proxy_pub }}"
Environment="UNIFI_CONTROLLER={{ unifi_controller }}"
Environment="UNIFI_USERNAME={{ unifi_username }}"
Environment="UNIFI_PASSWORD={{ unifi_password }}"
{% elif name == "temper_pub.py" %}
Environment="TEMPER_PUB_NAME={{ temper_name }}"
Environment="TEMPER_PUB_ADDR={{ zmq_proxy_pub }}"
Environment="TEMPER_PUB_SLEEP={{ temper_pub_sleep | default('240') }}"
{% elif name == "proxy.py" %}
Environment="ZMQ_FRONTEND={{ zmq_frontend }}"
Environment="ZMQ_BACKEND={{ zmq_backend }}"
{% endif %}
StandardOutput={{ stdout | default('syslog') }}
StandardError={{ stdout | default('syslog') }}

[Install]
WantedBy=multi-user.target
