#!/bin/bash

set -e

{% for item in ['podcasts', 'audiobooks', 'music'] -%}
if [[ ! -f "{{ audio_dir }}/{{ item }}/.checkfile" ]]; then
    echo "{{ audio_dir }}/{{ item }}/.checkfile is gone!"
    exit 1
fi
{% endfor %}

rescan_type=$1
touch {{ audio_dir }}/local/owntone/trigger.${rescan_type}-rescan
