# ansible managed

# https://owntone.github.io/owntone-server/advanced/outputs-pulse/

[Unit]
Description=Pulseaudio sound server
Before=sound.target

[Service]
ExecStart=/usr/bin/pulseaudio --system --disallow-exit

[Install]
WantedBy=multi-user.target

