---

homeassistant:
  customize:
    package.node_anchors:
      package_name: &package_name "mobile_devices"
      common_attrs: &common_attrs
        package: *package_name
      common_attrs_templated: &common_attrs_templated
        templated: true
        <<: *common_attrs

    # phone-ben
    binary_sensor.phone_ben_low_power_mode:
      friendly_name: "Low power mode on phone-ben"
      <<: *common_attrs_templated
    binary_sensor.phone_ben_battery_charging:
      friendly_name: "phone-ben Battery Charging"
      <<: *common_attrs_templated
    sensor.phone_ben_icloud_last_updated:
      friendly_name: "phone-ben iCloud Last updated"
      <<: *common_attrs_templated
    sensor.phone_ben_icloud_last_changed:
      friendly_name: "phone-ben iCloud Last changed (test)"
      <<: *common_attrs_templated
    sensor.phone_ben_icloud_account_fetch_interval:
      friendly_name: "phone-ben iCloud Account fetch interval"
      <<: *common_attrs_templated

    # nova
    binary_sensor.nova_low_power_mode:
      friendly_name: "nova Low power mode"
      <<: *common_attrs_templated
    binary_sensor.nova_ac_power:
      friendly_name: "nova AC Power"
      <<: *common_attrs_templated
    binary_sensor.nova_sleeping:
      friendly_name: "nova Sleeping"
      <<: *common_attrs_templated
    binary_sensor.nova_battery_charging:
      friendly_name: "nova Battery Charging"
      <<: *common_attrs_templated
    sensor.battery_nova_time_left:
      friendly_name: "nova Battery time left"
      <<: *common_attrs_templated
    sensor.nova_icloud_last_updated:
      friendly_name: "nova iCloud Last updated"
      <<: *common_attrs_templated
    sensor.nova_icloud_account_fetch_interval:
      friendly_name: "nova iCloud Account fetch interval"
      <<: *common_attrs_templated

template:
  # phone-ben
  - binary_sensor:
      - name: phone_ben_low_power_mode
        unique_id: phone_ben_low_power_mode
        icon: |
          {% if is_state(this.entity_id, "on") -%}
          mdi:battery-minus-variant
          {% else -%}
          mdi:battery
          {% endif %}
        state: |
          {{ is_state_attr("sensor.phone_ben_battery_state", "Low Power Mode", true) }}

      - name: phone_ben_battery_charging
        icon: |
          {%- if is_state(this.entity_id, "on") %}
          mdi:battery-charging
          {%- else %}
          mdi:battery
          {%- endif %}
        device_class: battery_charging
        state: |
          {{ is_state("sensor.phone_ben_battery_state", "Charging") }}

  # phone-ben
  - sensor:
      - name: phone_ben_icloud_last_updated
        device_class: timestamp
        icon: "mdi:account-clock"
        availability: |
          {{ states.device_tracker.icloud_phone_ben.last_updated is defined }}
        state: |
          {{ states.device_tracker.icloud_phone_ben.last_updated.isoformat() }}

      - name: phone_ben_icloud_last_changed
        device_class: timestamp
        icon: "mdi:account-clock"
        availability: |
          {{ states.device_tracker.icloud_phone_ben.last_changed is defined }}
        state: |
          {{ states.device_tracker.icloud_phone_ben.last_changed.isoformat() }}

      - name: phone_ben_icloud_account_fetch_interval
        icon: "mdi:account-circle"
        unit_of_measurement: "min"
        device_class: "duration"
        state_class: "measurement"
        availability: |
          {{ has_value("device_tracker.icloud_phone_ben") }}
        state: |
          {{ state_attr("device_tracker.icloud_phone_ben", "account_fetch_interval") }}

  # nova
  - binary_sensor:
      - name: nova_low_power_mode
        unique_id: nova_low_power_mode
        icon: |
          {% if is_state(this.entity_id, "on") -%}
          mdi:battery-minus-variant
          {% else -%}
          mdi:battery
          {% endif %}
        state: |
          {{ is_state_attr("sensor.nova_internal_battery_state", "Low Power Mode", true) }}

      - name: nova_ac_power
        unique_id: nova_ac_power
        icon: |
          {% if is_state(this.entity_id, "on") -%}
          mdi:power-plug-battery
          {% else -%}
          mdi:battery-90
          {% endif %}
        device_class: connectivity
        state: |
          {{ is_state_attr("sensor.nova_internal_battery_state", "Power Source State", "AC Power") }}

      - name: nova_sleeping
        unique_id: nova_sleeping
        icon: |
          {% if is_state(this.entity_id, "on") -%}
          mdi:sleep
          {% else -%}
          mdi:laptop
          {% endif %}
        state: |
          {{ is_state_attr("binary_sensor.nova_active", "Sleeping", true) }}

      - name: nova_battery_charging
        icon: |
          {%- if is_state(this.entity_id, "on") %}
          mdi:battery-charging
          {%- else %}
          mdi:battery
          {%- endif %}
        device_class: battery_charging
        state: |
          {{ is_state("sensor.nova_internal_battery_state", "Charging") }}

  # nova
  - sensor:
      - name: battery_nova_time_left
        unit_of_measurement: min
        device_class: duration
        state_class: measurement
        icon: |
          {{ state_attr("sensor.nova_internal_battery_level", "icon") }}
        availability: |
          {{
            has_value("sensor.nova_internal_battery_level")
            and state_attr("sensor.nova_internal_battery_level", "Time to Empty") is number
          }}
        state: |
          {% set t = state_attr("sensor.nova_internal_battery_level", "Time to Empty") | int(0) %}
          {% if t > 0 %}
          {{ t }}
          {% else %}
          {{ states(this.entity_id) | int(0) }}
          {% endif %}
        attributes:
          source_value: |
            {{ state_attr("sensor.nova_internal_battery_state", "Time to Empty") }}

      - name: nova_icloud_last_updated
        device_class: timestamp
        icon: "mdi:account-clock"
        availability: |
          {{ states.device_tracker.icloud_nova.last_updated is defined }}
        state: |
          {{ states.device_tracker.icloud_nova.last_updated.isoformat() }}

      - name: nova_icloud_account_fetch_interval
        icon: "mdi:account-circle"
        unit_of_measurement: "min"
        device_class: "duration"
        state_class: "measurement"
        availability: |
          {{ has_value("device_tracker.icloud_nova") }}
        state: |
          {{ state_attr("device_tracker.icloud_nova", "account_fetch_interval") }}
