---

{% for item in nextclouds %}

{% if item.cron %}

- type: filestream
  paths:
    - {{ item.root }}/data/nextcloud.log
    - {{ item.root }}/data/audit.log

  scan_frequency: 10s
  enabled: true

  parsers:
    - ndjson:
        keys_under_root: true
        add_error_key: true

  fields_under_root: true
  fields:
    service.type: nextcloud

  processors:
    - drop_fields:
        fields:
          - "exception.Trace"
          - "time"

  tags:
    - nextcloud

{% endif %}

{% endfor %}
