# templated by ansible

[Unit]
Description=tglistener
After=syslog.target

[Service]
Type=simple
User={{ tglistener_user }}
Group={{ tglistener_group | default(tglistener_user) }}
WorkingDirectory=/srv
ExecStart=/usr/local/bin/tglistener

[Install]
WantedBy=multi-user.target
