permit_join: false
homeassistant:
  enabled: true
  experimental_event_entities: true
  # Get the "action sensor" entities back
  legacy_action_sensor: true
mqtt:
  base_topic: zigbee2mqtt
  server: {{ hass_zigbee2mqtt_mqtt }}
  keepalive: 60
  include_device_information: true
  client_id: zigbee2mqtt
serial:
{% if hass_ser2net_zigbee == true %}
  port: tcp://{{ hass_ser2net_host.zigbee2mqtt }}:{{ hass_ser2net_port_zigbee }}
  adapter: deconz
{% else %}
  port: /dev/zigbee
  adapter: deconz
{% endif %}
frontend:
  enabled: true
  port: 8633
  host: "{{ bridgewithdns.hass_zigbee2mqtt }}"
  url: https://{{ zwavejs_url }}/_zigbee/
  #base_url: /_zigbee2mqtt
{#
 # enable the availability feature.
 # each device defaults to 'true' which should be enough to enable the feature, but
 # it doesnt seem to work.
 # https://www.zigbee2mqtt.io/guide/configuration/device-availability.html
 #}
availability:
  enabled: true
{% if hass_zigbee2mqtt_network_key | length > 0 -%}
advanced:
  network_key:
  {% set network_key =  hass_zigbee2mqtt_network_key | to_nice_yaml(indent=2) %}
  {{ network_key | indent(4) | trim }}
  log_level: warning
  # Adds a _last_seen sensor for each device
  last_seen: "ISO_8601"
  # Time in ms since previous msg
  elapsed: true
{{ {'devices': hass_zigbee2mqtt_devices} | to_nice_yaml(indent=2, sort_keys=false) | trim }}
{{ {'blocklist': hass_zigbee2mqtt_blocklist} | to_nice_yaml(indent=2) | indent(2) | trim }}
{% else -%}
advanced:
  network_key: GENERATE
{% endif %}
version: 4
