- type: filestream
  id: "jellyfin-logs"
  paths:
    - {{ jellyfin_root }}/config/log/beats_*.log

  scan_frequency: 10s
  enabled: true

  parsers:
    - multiline:
        type: pattern
        pattern: '^\['
        negate: true
        match: after

  fields_under_root: true
  fields:
    service.type: jellyfin

  tags:
    - jellyfin
