{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Information",
        "System": "Information"
      }
    },
    "WriteTo": [
      {
        "Name": "Async",
        "Args": {
          "configure": [
            {
              "Name": "File",
              "Args": {
                "path": "%JELLYFIN_LOG_DIR%//beats_.log",
                "rollingInterval": "Day",
                "retainedFileCountLimit": 3,
                "rollOnFileSizeLimit": true,
                "fileSizeLimitBytes": 100000000,
                "outputTemplate": "[{Level:u4}] - {SourceContext} - {Message}{NewLine}{Exception}"
              }
            }
          ]
        }
      }
    ],
    "Enrich": [ "FromLogContext", "WithThreadId" ]
   },
   "AllowedHosts": "*"
}
