{% set wg_client = wireguard_clients[inventory_hostname] %}
{% set endpoint = wireguard_endpoints[wg_client['endpoint']] %}
{% set wg_main = wireguard_clients[wireguard_main]['ip'] %}

[Interface]
Address = {{ wg_client['ip'] }}/32
{% if wg_client['vpn_dns'] | default(false) %}
DNS = {{ wireguard_dns }}
{% endif %}
PrivateKey = {{ lookup('file', 'private/wireguard/' + inventory_hostname ) }}
PostUp = sleep 3; ping -c 1 {{ wg_main }} || yes


[Peer]
{% if 'endpoint_hostname' in wg_client %}
Endpoint = {{ wg_client['endpoint_hostname'] }}:{{ wireguard_port }}
{% else %}
Endpoint = {{ endpoint }}:{{ wireguard_port }}
{% endif %}
PublicKey = {{ lookup('file', 'private/wireguard/' + endpoint + '.pub') }}
{% if wg_client['route_all'] | default(false) %}
AllowedIPs = 0.0.0.0/0
{% else %}
AllowedIPs = {{ wireguard_cidr }}
{% endif %}
PersistentKeepalive = 240
