PAPERLESS_URL=https://{{ paperless_url }}
PAPERLESS_SECRET_KEY={{ paperless_secret_key }}
PAPERLESS_DBENGINE=mariadb
PAPERLESS_DBHOST={{ mariadb_host }}
PAPERLESS_DBNAME={{ mariadb_db }}
PAPERLESS_DBUSER={{ systemuserlist.paperless.username }}
PAPERLESS_DBPASS={{ systemuserlist.paperless.mariadb_pass }}
PAPERLESS_DBPORT=3306
PAPERLESS_TIME_ZONE=UTC
# USER
USERMAP_UID={{ userlist[paperless_user]['uid'] }}
USERMAP_GID={{ userlist[paperless_user]['gid'] }}
{% if paperless_user_specific_urls -%}
PAPERLESS_FORCE_SCRIPT_NAME=/{{ paperless_user }}
PAPERLESS_STATIC_URL=/{{ paperless_user }}/static/
{% endif %}
# FILES
PAPERLESS_FILENAME_FORMAT_REMOVE_NONE=true
PAPERLESS_TRASH_DIR=../media/trash
#PAPERLESS_FILENAME_FORMAT={{ paperless_filename_format }}
# OCR
# see=https://ocrmypdf.readthedocs.io/en/latest/api.html#reference
# PAPERLESS_OCR_USER_ARGS=<json>
PAPERLESS_OCR_CLEAN=clean
PAPERLESS_OCR_MODE={{ paperless_ocr_mode }}
# lang codes=https://www.loc.gov/standards/iso639-2/php/code_list.php
PAPERLESS_OCR_LANGUAGES={{ paperless_ocr_langs|join(' ') }}
PAPERLESS_OCR_LANGUAGE={{ paperless_ocr_langs|join('+') }}
# INITIAL ADMIN USER
PAPERLESS_ADMIN_USER={{ paperless_admin_user }}
PAPERLESS_ADMIN_MAIL={{ paperless_admin_email }}
PAPERLESS_ADMIN_PASSWORD={{ paperless_admin_passwd }}
# DATES
PAPERLESS_IGNORE_DATES={{ userlist[paperless_user]['birthday'] }},1970-01-01
PAPERLESS_NUMBER_OF_SUGGESTED_DATES=5
# AUTH
PAPERLESS_ENABLE_HTTP_REMOTE_USER=true
PAPERLESS_LOGOUT_REDIRECT_URL=https://{{ authelia_login_url }}/logout
# CONSUMER
PAPERLESS_POST_CONSUME_SCRIPT=/usr/src/paperless/bin/post-consume.py
PAPERLESS_PRE_CONSUME_SCRIPT=/usr/src/paperless/bin/pre-consume.py
PAPERLESS_CONSUMER_RECURSIVE=true
PAPERLESS_CONSUMER_SUBDIRS_AS_TAG=true
# (default) leave duplicates
PAPERLESS_CONSUMER_DELETE_DUPLICATES=false
# REDIS, TIKA, GOTENBERG
PAPERLESS_REDIS=redis://paperless-ngx-redis-{{ paperless_user }}:6379
PAPERLESS_TIKA_ENABLED=true
PAPERLESS_TIKA_ENDPOINT=http://paperless-ngx-tika:9998
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://paperless-ngx-gotenberg:3000
# CUSTOM
PAPERLESS_USER={{ paperless_user }}
