# distributed from ansible

# m h dom mon dow
#* * * * * {{ xmrig_user }} /usr/local/bin/xmrigmonitor.py >> /tmp/xmrigmonitor.txt 2>&1
{% if 'xmrig_primary' in group_names %}
#* * * * * {{ xmrig_user }} /usr/local/bin/xmrigmonitor.py --poolstats >> /tmp/xmrigmonitor-poolstats.txt 2>&1
{% endif %}

#
