#!/bin/bash

set -e

NAME_REPO="{{ hass_config_repo_name }}"

PATH_REPO="{{ systemuserlist.hass.home }}/git/${NAME_REPO}"
PATH_HASS="{{ systemuserlist.hass.home }}/home-assistant"

export GIT_SSH_COMMAND="ssh -i ~/.ssh/${NAME_REPO}"

cd $PATH_REPO

if test -n "$(git status --porcelain)" ; then
    echo "repo is dirty"
    git status --short
    exit 2
fi

if ! grep -q "secrets.y[a]ml" ${PATH_REPO}/.gitignore; then
    echo "'secrets.yaml' missing from '.gitconfig'"
    exit 3
fi

mkdir -p ${PATH_REPO}/config/
mkdir -p ${PATH_REPO}/config/.storage

{% for item in hass_config_repo_cp -%}
{% if item.dir|default(false) %}{% set cp_r = "r" -%}
{% else %}{% set cp_r = "" -%}
{% endif -%}
{% if item.src.endswith("*") -%}
{%   if item.src.count("/") > 0 -%}
{%   set dest = item.src.split("/")[:-1] | join("/")  + "/" -%}
{%   else -%}
{%   set dest = "" -%}
{%   endif -%}
{% else -%}
{% set dest = item.src %}
{% endif %}
cp -a{{ cp_r }} ${PATH_HASS}/config/{{ item.src }} ${PATH_REPO}/config/{{ dest }}
{% endfor %}


if test -n "$(git status --porcelain)" ; then
    {% for item in hass_config_repo_cp -%}
    git add config/{{ item.src }} > /dev/null
    {% endfor %}

    git commit -m "config updated" > /dev/null
fi

git pull --quiet
git push --quiet 2> /dev/null

# TODO: copy changes from git
