
# this file is _not_ synced to the {{ hass_config_repo_name }} repo, so
# we can "safely" template in the actual secrets here and keep them out of
# configuration.yaml, which does get synced to the repo.

caldav_user: "{{ hass_caldav.user }}"
caldav_passwd: "{{ hass_caldav.passwd }}"

voicerss_api_key: {{ voicerss_api_key }}

# see group_vars/monitoring.yml
influxdb_pass: {{ hass_influxdb_pass }}
