# templated by ansible

[Unit]
Description=temper_sub
After=syslog.target

[Service]
Type=simple
User={{ temper_sub_user | default('root') }}
Group={{ temper_sub_group | default(temper_sub_user) | default('root') }}
WorkingDirectory=/srv
ExecStart=/usr/local/bin/temper_sub

[Install]
WantedBy=multi-user.target
