{
  "mqtt": {
    "name": "Zwavejs2Mqtt",
    "host": "127.0.0.1",
    "port": 1883,
    "qos": 1,
    "prefix": "zwave",
    "reconnectPeriod": 3000,
    "retain": true,
    "clean": true,
    "auth": false,
    "_ca": "",
    "ca": "",
    "_cert": "",
    "cert": "",
    "_key": "",
    "key": "",
    "disabled": true
  },
  "gateway": {
    "type": {{ zwavejs_gateway_type|default(0) }},
    "plugins": [],
    "authEnabled": false,
    "payloadType": 0,
    "nodeNames": true,
    "hassDiscovery": false,
    "discoveryPrefix": "homeassistant",
    "logEnabled": true,
    "logLevel": "info",
    "logToFile": true,
    "values": [],
    "jobs": [],
    "disableChangelog": false,
    "notifyNewVersions": false,
    "https": false,
    "versions": {{ zwavejs_versions | default({}) | to_json(indent=2) | indent(4) }}
  },
  "zwave": {
    "enabled": true,
{% if hass_ser2net_zwave == true %}
    "port": "tcp://{{ hass_ser2net_host.zwave }}:{{ hass_ser2net_port_zwave }}",
{% else %}
    "port": "/dev/zwave0",
{% endif %}
    "allowBootloaderOnly": false,
    "commandsTimeout": 300,
    "logLevel": "warn",
    "rf": {
      "txPower": {}
    },
    "securityKeys": {
      "S0_Legacy": "{{ zwavejs_KEY_S0_Legacy }}",
      "S2_Unauthenticated": "{{ zwavejs_KEY_S2_Unauthenticated }}",
      "S2_Authenticated": "{{ zwavejs_KEY_S2_Authenticated }}",
      "S2_AccessControl": "{{ zwavejs_KEY_S2_AccessControl }}"
    },
    "securityKeysLongRange": {
      "S2_Authenticated": "{{ zwavejs_KEY_S2_Authenticated_LongRange }}",
      "S2_AccessControl": "{{ zwavejs_KEY_S2_AccessControl_LongRange }}"
    },
    "deviceConfigPriorityDir": "/usr/src/app/store/config",
    "logEnabled": true,
    "logToFile": true,
    "maxFiles": 7,
    "serverEnabled": true,
    "serverServiceDiscoveryDisabled": true,
    "enableSoftReset": false,
    "enableStatistics": false,
    "serverPort": {{ hass_zwavejs_ws_port }},
    "maxNodeEventsQueueSize": 100,
    "higherReportsTimeout": false,
    "disableControllerRecovery": false,
    "disclaimerVersion": 1
  },
  "backup": {
    "storeBackup": true,
    "storeCron": "0 0 * * *",
    "storeKeep": 7,
    "nvmBackup": true,
    "nvmBackupOnEvent": false,
    "nvmCron": "4 4 * * *",
    "nvmKeep": 14
  },
  "zniffer": {
    "enabled": false,
    "port": "",
    "logEnabled": true,
    "logToFile": true,
    "maxFiles": 7,
    "securityKeys": {
      "S2_Unauthenticated": "",
      "S2_Authenticated": "",
      "S2_AccessControl": "",
      "S0_Legacy": ""
    },
    "securityKeysLongRange": {
      "S2_Authenticated": "",
      "S2_AccessControl": ""
    },
    "convertRSSI": false
  },
  "ui": {
    "darkMode": true,
    "navTabs": false,
    "compactMode": false
  }
}
