#!/bin/bash

set -e

iptables -t nat -A POSTROUTING -s {{ wireguard_cidr }} -o {{ ansible_default_ipv4.interface  }} -j MASQUERADE

# sleep 5
#
# {% for host in wireguard_endpoints.values() %}
# {%   if 'endpoint_for' in wireguard_clients[host] %}
# {%     set serverip = wireguard_clients[host]['ip'] %}
# ping -c 1 {{ serverip }} || true
# {%   endif %}
# {% endfor %}

exit 0
