{% set wg_client = wireguard_clients[inventory_hostname] %}


[Interface]
Address = {{ wg_client['ip'] }}/32
ListenPort = {{ wireguard_port }}
PrivateKey = {{ lookup('file', 'private/wireguard/' + inventory_hostname ) }}
#SaveConfig = true
PostUp = /usr/local/bin/wg-post-up.sh

{% for cc, peer in wireguard_endpoints.items() %}
{%   if peer != inventory_hostname %}
# {{ peer }}
[Peer]
{%     if peer == wireguard_main %}
# vpn-{{ cc }}.sudo.is:{{ wireguard_port }}
Endpoint = {{ peer }}:{{ wireguard_port }}
{%     endif %}
PublicKey = {{ lookup('file', 'private/wireguard/' + peer + '.pub' ) }}
AllowedIPs = {{ wireguard_clients[peer]['allowed'] }}
PersistentKeepalive = 240
{%   endif %}
{% endfor %}

{% set thisendp = wg_client['endpoint_for'] %}
{% for peer, d in wireguard_clients.items() %}
{%   if peer != inventory_hostname and d.get('endpoint') == thisendp %}
# {{ peer }}
[Peer]
PublicKey = {{ lookup('file', 'private/wireguard/' + peer + '.pub' ) }}
{% set clients = [wireguard_clients[c].ip+"/32" for c in d.clients] %}
{% set ips  = [d.ip + "/32"] + clients
AllowedIPs = {{ ips | join(", ") }}
{%   endif %}

{% endfor %}
