# distributed from ansible

# m h dom mon dow
{% if inventory_hostname == rsnapshot_primary %}
3 1 * * * root /usr/local/bin/sudoisrsnapshot.py
30 */1 * * * root /usr/local/bin/sudoisrsnapshot.py --metrics-only
{% endif %}

{% if inventory_hostname == sdfbackup_opts.primary %}
03 13  * * * root /usr/local/bin/sdfbackup.py
{% endif %}


#
