# distributed from ansible

# m h dom mon dow
{% if inventory_hostname == rsnapshot_primary %}
31 22 * * * root /usr/local/bin/sudoisrsnapshot.py
{% else %}
31 10 * * * root /usr/local/bin/rsnapshot_mirror.py &> /root/rsnapshot-mirror.log
{% endif %}
