#!/bin/bash

# how to resize:
# https://ruderich.org/simon/notes/encrypted-remote-backups

lockfile -l 86400 -r 0 /var/run/backup.lock || exit 2

NAME={{ inventory_hostname.split('.')[0] }}
SRC={{ rsnapshot_root }}/alpha.0
KEYFILE=/root/sdf_backup_lukskey
SDF={{ sdf_metaarray }}
VERBOSE=true

print () {
    if [ "$VERBOSE" = "true" ]; then  echo `date +"%F %R:"` "$*" ; fi
}

# mount sshfs
mkdir -p /metaarray/sshfs
sshfs -o idmap=user $SDF:metaarray/ /metaarray/sshfs

if [ ! -f /metaarray/sshfs/$NAME ]; then
    print "luks file '/metaarray/sshfs/$NAME' not found"
    exit 1

elif [ ! -f /metaarray/sshfs/.metaarray_plain ]; then
     print "metarray not mounted, .metarray_plain not found"
     exit 2

elif [ ! -f $SRC/.metaarray_allowed ]; then
    print "$SRC/.metaarray_allowed missing"
    exit 3
fi


print 'opening LUKS'
/usr/sbin/cryptsetup luksOpen /metaarray/sshfs/$NAME metaarray-$NAME --key-file=$KEYFILE
cryptsetup_rc=$?

if [ $cryptsetup_rc -ne 0 ]; then
    exit 4
fi

if ! `mkdir /metaarray/backup`; then
   exit 5
fi

mount /dev/mapper/metaarray-$NAME /metaarray/backup

if [ ! -f /metaarray/backup/.metaarray_present ]; then
    print "metaarray not decrypted or mounted"
   exit 6
fi
print "starting 'rsync -a $SRC /metaarray/backup'"
rsync -a $SRC /metaarray/backup
rsync_rc=$?

print "rsync exited, napping for 10s"
sleep 10

print "starting 'sync'"
sync

if [ $rsync_rc -ne 0 ]; then
    print "rsync failed"
    exit 7
fi

sleep 60

# mark last succesful backup
/usr/bin/date >> /metaarray/backup/.metaarray_present

sleep 3

print "unmounting /metarray/backup"
umount /metaarray/backup
#umount -f /metaarray/backup
#umount -l /metaarray/backup # nuclear option
rmdir /metaarray/backup

# and close the encryption
print 'closing LUKS'
/usr/sbin/cryptsetup luksClose metaarray-$NAME

# and unmount sshfs connection but we're not
# managing the sshfs connection in this script
fusermount -u /metaarray/sshfs
#umount /metaarray/sshfs
#umount -f /metaarray/sshfs
rmdir /metaarray/sshfs

rmdir /metaarray

print "removing lockfile"
rm -f /var/run/backup.lock
