

umount -l {{ sdfbackup_opts.luks_args.mountpoint }} || true
cryptsetup luksClose {{ sdfbackup_opts.luks_args.luks_img.split('.')[0] }} || true
umount -l {{ sdfbackup_opts.ssh_args.mountpoint }} || true
