# interfaces(5) file used by ifup(8) and ifdown(8)

# Please note that this file is written to be used with dhcpcd
# For static IP, consult /etc/dhcpcd.conf and 'man dhcpcd.conf'

# we disable dhcpcd because we need to run dhcp-helper

auto {{ pihole_local_interface }}
iface {{ pihole_local_interface }} inet static
address {{ pihole_local_ip }}
netmask 255.255.255.0

gateway {{ pihole_local_dgw }}
dns-nameservers {{ pihole_local_ip }}
# Include files from /etc/network/interfaces.d:
source-directory /etc/network/interfaces.d
