# {{ ansible_managed }}
{% set root = deadspace_crypttab.root %}
{{ root.name }} UUID={{ root.uuid }} none luks{% for opt in root.options|default([]) %},{{ opt }}{% endfor %}
{% for item in deadspace_crypttab.disks|default([]) %}
{{ item.name }} UUID={{ item.uuid }} {{ item.keyfile | default(deadspace_keyfile) }} luks
{% endfor %}
