---

# should be capable of both bind and connect tbh

zmq:
  topic: {{ zflux.zmq.topic }}
{% if zflux.bind is defined %}
  # bind: 'tcp://*:{{ zflux.zmq.bind_port|default("5558") }}'
  bind: {{ zflux.bind }}
{% else %}
  connect: 'tcp://{{ broker }}:5560'
{% endif %}


influxdb:
  host: {{ ingest }}
  db: {{ zflux.influxdb.user }}
  user: {{ zflux.influxdb.user }}
  passwd: {{ zflux.influxdb.passwd }}
