---

{% set broker = sudoisbot.broker %}

zmq:
  topic: {{ zflux.zmq.topic }}
  metrics: 'tcp://127.0.0.1:5558'
{% if zflux.zmq.listen_addr is defined %}
  bind: 'tcp://{{ zflux.zmq.bind_addr }}:{{ zflux.zmq.bind_port }}'
{% else %}
  connect: 'tcp://{{ broker.name }}:{{ broker.be_port }}'
{% endif %}


influxdb:
  host: {{ ingest }}
  db: {{ zflux.influxdb.user }}
  user: {{ zflux.influxdb.user }}
  passwd: {{ zflux.influxdb.passwd }}
