# {{ ansible_managed }}
#
# The value 0 has a special meaning when use with NFSv4:
# https://unix.stackexchange.com/questions/479968/stale-nfs-file-handle-why-does-fsid-resolve-it
#
# root_squash = changes/maps the uid for root on the client to the uid of an anonamous user
# no_root_squash = disables that, and root on the client server isnt changed, so client root is the same as server root, in terms of fs privileges.

{% set default_opts = "sync,subtree_check,root_squash" %}

/export    {{ wireguard_cidr }}(fsid=0,rw,{{default_opts}}) {{ s21_cidr }}(fsid=0,rw,{{default_opts}})

{% for item in nfs_exports %}
# {{ item.path }}
{%   set fsid = "fsid=" + loop.index|string -%}
{%   set nfs_opts = item.get("nfs_opts", default_opts) -%}
{%   set opts = [fsid, nfs_opts] | join(",") -%}
/export/{{ item.path.lstrip("/") }}   {% for c in item.nfs_clients %}{{ c }}({{ opts }}) {% endfor %}


{% endfor %}
