#!/usr/bin/env python3

import subprocess
import sys
import json
import argparse


def parse_args():
    parser = argparse.ArgumentParser()
    parser.add_argument("fqdn", help="domain to request a cert for")
    parser.add_argument("--wildcard", action="store_true", help="wildcard cert")
    parser.add_argument("--www", action="store_true", help="include www.")
    return parser.parse_args()


def main():
    args = parse_args()
    return certbot_new(args.fqdn, wildcard=args.wildcard, www=args.www)



def certbot_new(fqdn, wildcard, www):
    dns_file = "dns-provider-domains.json"
    with open(f'/usr/local/etc/letsencrypt/{dns_file}', 'r') as f:
        domains = json.load(f)

    # add a --with-www or something instead of guessing like this
    # and make 'domain' a list 'domains', and append/extend 'certbot_cmd'
    # with a -d for each.

    dotted = fqdn.split('.')
    domain = ".".join(dotted[1:])

    try:
        dns_provider = domains[domain]
    except KeyError:
        print(f"domain '{domain}' not found in '{dns_file}'!")
        sys.exit(2)

    dns_flag = f"--dns-{dns_provider}"
    certbot_cmd = [
        "/usr/local/bin/certbot",
        "certonly",
        dns_flag,
        "-d", fqdn
    ]
    if wildcard:
        certbot_cmd.extend(["-d", f"*.{fqdn}"])
    if www:
        certbot_cmd.extend(["-d", f"www.{fqdn}"])

    print(" ".join(certbot_cmd))

    p = subprocess.run(certbot_cmd, check=True)
    return p.returncode

if __name__ == "__main__":
    sys.exit(main())
