api_password: "{{ hass_esphome_api_password }}"
api_encryption_key: "{{ hass_esphome_api_encryption_key }}"

ota_password: "{{ hass_esphome_ota_password }}"

wifi_ssid: "{{ hass_esphome_wifi_ssid }}"
wifi_password: "{{ hass_esphome_wifi_password }}"
ap_password: "{{ hass_esphome_fallback_wifi_password }}"

alt_wifi_ssid: "{{ hass_esphome_alt_wifi_ssid }}"
alt_wifi_password: "{{ hass_esphome_alt_wifi_password }}"

s21_mac_tv: "{{ s21_mac_samsung_tv }}"
