---

- type: log
  paths:
    - {{ systemuserlist.matrix.home }}/log/homeserver.json

  scan_frequency: 10s
  enabled: true

  json.keys_under_root: true
  json.add_error_key: true
  json.overwrite_keys: true

  fields_under_root: true
  fields:
    service.type: matrix-synapse

  processors:
    - rename:
        fields:
          - from: "log"
            to: "message"
        ignore_missing: true
        fail_on_error: false

  tags:
    - matrix-synapse
    - matrix
