- type: filestream
  id: "synapse-logs"
  paths:
    - {{ systemuserlist.matrix.home }}/log/homeserver.json

  enabled: true

  parsers:
    - ndjson:
        keys_under_root: true
        add_error_key: true
        overwrite_keys: true

  fields_under_root: true
  fields:
    service.type: {{ matrix_log_service_type }}

  processors:
    - rename:
        fields:
          - from: "log"
            to: "message"
        ignore_missing: true
        fail_on_error: false

  tags:
    - matrix-synapse
    - matrix
