#!/bin/bash

# run as postgres user

/usr/bin/pg_dump {{ systemuserlist.matrix.username }} > {{ psql_dump_path}}/synapse-postgres-backup.sql

# databases for e.g. brides are here too for simplicity
/usr/bin/pg_dump matrix_bridge_instagram > {{ psql_dump_path }}/bridge-instagram-postgres-backup.sql
