# {{ ansible_managed }}

{% if mergerfs.need_mmap|default(true) -%}
{%   set cache_files = "auto-full" -%}
{% else -%}
{%   set cache_files = "off" -%}
{% endif -%}

[Unit]
Description=mergerfs mount
Requires=cryptsetup.target
After=cryptsetup.target

[Mount]
What={{ mergerfs.filesystems | join(":") }}
Where={{ mergerfs.mountpoint }}
Type=fuse.mergerfs
Options=allow_other,cache.files={{ cache_files }},dropcacheonclose=true,category.create={{ mergerfs.policy|default("mfs") }}
